# Dependencies
node_modules

# Build output
dist

# Misc
.DS_Store

# Debug
npm-debug.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo

# IDE
.idea
.vscode

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
